[Unit]
Description=rock-mon daemon

[Service]
Type=simple
ExecStart=/usr/bin/rock-mon
ExecStop=/bin/bash /usr/local/bin/kill_mon.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
