[Unit]
Description=rock-engine daemon

[Service]
Type=simple
ExecStart=/usr/bin/rock-engine
ExecStop=/bin/bash /usr/local/bin/kill_engine.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
